root = true

[*.{kt,kts}]
ktlint_function_naming_ignore_when_annotated_with = Composable

[**/build/generated/**/*]
ktlint = disabled

[**/secrets/**/*]
ktlint = disabled

[**/test/**/*]
ktlint = disabled

[*.gradle.kts]
ktlint_disabled_rules = custom:magic-numbers-rule

[**/com/kmp/ktlint/rules/**/*.kt]
ktlint = disabled

[**/src/iosMain/**/MainViewController.kt]
ktlint = disabled