root = true

[*.{kt,kts}]
ktlint_function_naming_ignore_when_annotated_with = Composable
ktlint_standard_final-newline = disabled

[**/src/iosMain/**/MainViewController.kt]
ktlint = disabled

[**/resources/StringResources.kt]
raw-string-rule = disabled

[**/resources/StringResources.kt]
raw-string-rule = disabled

[**/test/**/*.kt]
ktlint = disabled

[**/commonTest/**/*.kt]
ktlint = disabled

[**/build/**/*.kt]
ktlint = disabled