.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-section {
  gap: 56px;
  width: 1110px;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text {
  color: rgba(23, 23, 34, 1);
  height: auto;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-text02 {
  color: rgba(23, 23, 34, 1);
  height: auto;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-item {
  gap: 30px;
  width: 1110px;
  display: flex;
  padding: 16px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 16px;
  justify-content: center;
  background-color: rgba(240, 240, 240, 1);
}
.home-img {
  width: 160px;
  height: 160px;
}
.home-text04 {
  color: rgba(23, 23, 34, 1);
  height: auto;
  flex-grow: 1;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-text06 {
  color: rgba(23, 23, 34, 1);
  height: auto;
  font-size: 32px;
  font-style: SemiBold;
  text-align: left;
  font-family: Roboto;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-text08 {
  color: rgba(23, 23, 34, 1);
  height: auto;
  font-size: 24px;
  font-style: SemiBold;
  text-align: left;
  font-family: Roboto;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-btn {
  gap: 8px;
  width: 200px;
  display: flex;
  padding: 16px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(30, 30, 30, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  justify-content: center;
  background-color: rgba(250, 250, 250, 1);
}
.home-text10 {
  color: rgba(30, 30, 30, 1);
  height: auto;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
