.desktop2-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.desktop2-desktop2 {
  width: 100%;
  height: 1024px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.desktop2-section {
  gap: 40px;
  top: 40px;
  left: 0px;
  right: 0px;
  width: 349px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
}
.desktop2-btn {
  gap: 8px;
  width: 200px;
  display: flex;
  padding: 16px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  justify-content: center;
  background-color: rgba(52, 114, 159, 1);
}
.desktop2-text {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop2-section1 {
  gap: 16px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.desktop2-listitem14 {
  gap: 10px;
  display: flex;
  padding: 8px 16px;
  align-items: center;
  border-radius: 16px;
  justify-content: center;
  background-color: rgba(213, 240, 255, 1);
}
.desktop2-text02 {
  color: rgba(23, 23, 34, 1);
  height: auto;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop2-listitem13 {
  gap: 10px;
  display: flex;
  padding: 8px 16px;
  align-items: center;
  border-radius: 16px;
  justify-content: center;
  background-color: rgba(213, 240, 255, 1);
}
.desktop2-text04 {
  color: rgba(23, 23, 34, 1);
  height: auto;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop2-listitem12 {
  gap: 10px;
  display: flex;
  padding: 8px 16px;
  align-items: center;
  border-radius: 16px;
  justify-content: center;
  background-color: rgba(213, 240, 255, 1);
}
.desktop2-text06 {
  color: rgba(23, 23, 34, 1);
  height: auto;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop2-listitem11 {
  gap: 10px;
  display: flex;
  padding: 8px 16px;
  align-items: center;
  border-radius: 16px;
  justify-content: center;
  background-color: rgba(213, 240, 255, 1);
}
.desktop2-text08 {
  color: rgba(23, 23, 34, 1);
  height: auto;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop2-listitem10 {
  gap: 10px;
  display: flex;
  padding: 8px 16px;
  align-items: center;
  border-radius: 16px;
  justify-content: center;
  background-color: rgba(213, 240, 255, 1);
}
.desktop2-text10 {
  color: rgba(23, 23, 34, 1);
  height: auto;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop2-listitem09 {
  gap: 10px;
  display: flex;
  padding: 8px 16px;
  align-items: center;
  border-radius: 16px;
  justify-content: center;
  background-color: rgba(213, 240, 255, 1);
}
.desktop2-text12 {
  color: rgba(23, 23, 34, 1);
  height: auto;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop2-listitem08 {
  gap: 10px;
  display: flex;
  padding: 8px 16px;
  align-items: center;
  border-radius: 16px;
  justify-content: center;
  background-color: rgba(213, 240, 255, 1);
}
.desktop2-text14 {
  color: rgba(23, 23, 34, 1);
  height: auto;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop2-listitem07 {
  gap: 10px;
  display: flex;
  padding: 8px 16px;
  align-items: center;
  border-radius: 16px;
  justify-content: center;
  background-color: rgba(213, 240, 255, 1);
}
.desktop2-text16 {
  color: rgba(23, 23, 34, 1);
  height: auto;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop2-listitem06 {
  gap: 10px;
  display: flex;
  padding: 8px 16px;
  align-items: center;
  border-radius: 16px;
  justify-content: center;
  background-color: rgba(213, 240, 255, 1);
}
.desktop2-text18 {
  color: rgba(23, 23, 34, 1);
  height: auto;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop2-listitem05 {
  gap: 10px;
  display: flex;
  padding: 8px 16px;
  align-items: center;
  border-radius: 16px;
  justify-content: center;
  background-color: rgba(213, 240, 255, 1);
}
.desktop2-text20 {
  color: rgba(23, 23, 34, 1);
  height: auto;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop2-listitem04 {
  gap: 10px;
  display: flex;
  padding: 8px 16px;
  align-items: center;
  border-radius: 16px;
  justify-content: center;
  background-color: rgba(213, 240, 255, 1);
}
.desktop2-text22 {
  color: rgba(23, 23, 34, 1);
  height: auto;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop2-listitem03 {
  gap: 10px;
  display: flex;
  padding: 8px 16px;
  align-items: center;
  border-radius: 16px;
  justify-content: center;
  background-color: rgba(213, 240, 255, 1);
}
.desktop2-text24 {
  color: rgba(23, 23, 34, 1);
  height: auto;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop2-listitem02 {
  gap: 10px;
  display: flex;
  padding: 8px 16px;
  align-items: center;
  border-radius: 16px;
  justify-content: center;
  background-color: rgba(213, 240, 255, 1);
}
.desktop2-text26 {
  color: rgba(23, 23, 34, 1);
  height: auto;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop2-listitem01 {
  gap: 10px;
  display: flex;
  padding: 8px 16px;
  align-items: center;
  border-radius: 16px;
  justify-content: center;
  background-color: rgba(213, 240, 255, 1);
}
.desktop2-text28 {
  color: rgba(23, 23, 34, 1);
  height: auto;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
