*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
shared/build/bin/iosSimulatorArm64/debugFramework/shared.framework/shared
shared/build/xcode-frameworks/Debug/iphonesimulator17.4/shared.framework/shared
shared/src/commonMain/kotlin/config/BuildConfig.kt
**/config/BuildConfig.kt


